-e git+https://github.com/remarkablerocket/django-fields.git@72dc3ad3826e4b706f8e9ed7946f092c466a158e#egg=django_fields
httpretty==0.8.0
nose==1.3.0
requests==2.2.1
requests-oauthlib==0.4.0
tox==1.7.0
